.vehicle-details-single-button-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vehicle-details-single {
  padding: 40px;
}
.vehicle-details-single-img {
  width: 600px;
  margin: 0 auto;
}
